#contener {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100px;
    height: 100px;
  }



  #map {
    position: left top;
    width: 375px;
    height: 480px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
  }

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    background-color:$gris;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }

  .slider:before {
    background-color:$blanc;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color:$bleu;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}