@media screen and (min-width: 300px) and (max-width: 640px) {

h1 { 
    color:blue;

}


body {
      background-color : #33FF9F; 
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);

}


#logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



#map {

 

  witdh:100%;
  
 
}

p {
  position: absolute;
  bottom: 0px;
  left:20px;
  font-size: 18px;


}
